body {
	background-color: white;
	width: 100%;
	margin: 0;
	padding: 0;	
}
#mainContainer {	
	position: relative;
	margin: 0;
	padding: 0;
	width: inherit;		
	font-family: 'Shadows Into Light', cursive;	
}

/*-------------------
Navigation Container
---------------------*/

#navigationContainer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,0.8);
}
#navigationContainer ul {
	list-style: none;
	text-align: center;
	margin-top: 5%;	
}
#navigationContainer li {
	display: block;
	padding-top: 3%;	
}
#navigationContainer li a {
	font-size: 2em;
	color: white;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#navigationContainer li a:hover {
	color: #99ccff;
}
.menuClose {	
	color: white;
	font-size: 2.3em;
	cursor: pointer;
	position: absolute;
	top: 2%;
	left: 4%;
	z-index: 1;
}

/*-------------------------
Navigation Menu and Button 
---------------------------*/

.menuButton {
	position: fixed;
	height: 30px;
	left: 3%;
	width: 40px;	
	margin-top: 20px;
	cursor: pointer;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.menuBar hr {		
	margin: 15%;
	max-width: 100%;
	border-top: 2px solid white;
}

/*-------------------
Title Container
--------------------*/

#logoName h1 {
	color: white;	
	font-size: 2em;
		
}
#titleContainer {	
	margin: 0;
	padding: 0;
	width: inherit;
	height: 640px;
	background-image: url('images/titlephoto.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*-----------------
About Container 
------------------*/
#aboutContainer {		
	margin: 0;
	padding: 0;
	width: inherit;		
	background-color: white;
	text-align: center;			
}
#aboutCamera {
	margin-top: 2%;
}
#aboutContainer img {
	width: 400px;
	height: 300px;
}
#aboutInfo {
	margin-top: 1.5%;	
}
#aboutInfo h2 {	
	font-size: 3em;	
}
#aboutInfo p {
	margin-top: 1.5%;	
	font-size: 1.5em;
	color: gray;
}
#aboutButton {
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.75em;
	color: white;
	padding: 10px;
	border: 2px solid gray;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#aboutButton:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
}

/*-------------------------------------
Carousel/Container (1400x600)
--------------------------------------*/

/*----------------------
 Note: images are inserted into html style tags.  This keeps from having to code
 multiple IDs/classes for each gallery category (weddings, portraits, etc)
 --------------------------------------*/

.close {
	position: absolute;	
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;	
	top: 3%;
	right: 2.5%;
	z-index: 1;	
}
.close a {
	text-decoration: none;
}
.mobileClose {
	position: fixed;	
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;	
	top: 2.5%;
	right: 2.5%;
	z-index: 1;	
	color: #110f0f;
	cursor: pointer;
}
#carouselContainer {		
	top: 0;
	left: 0;
	width: inherit;
	
	padding: 0;
	height: 640px;				
}
.fill {
	width: 100%;
	height: 640px;
	background-position: center;
	background-size: cover;	
	background-repeat: no-repeat;
}
.carousel-caption a {
	color: white;	
	text-decoration: none;
}

/*-------------
Social Container
------------------*/

#socialContainer {	
	margin: 0;
	padding: 0;
	width: inherit;	
}
#socialRow {
	margin: 3% 0;	
}
#socialRow img {	
	display: inline;	
	width: 55px;
	height: 55px;
	margin-right: 3%;	
	-webkit-transition: 0.25s all ease-in-out;
	-moz-transition: 0.25s all ease-in-out;
	-ms-transition: 0.25s all ease-in-out;
	-o-transition: 0.25s all ease-in-out;
	transition: 0.25s all ease-in-out;
}
#socialRow img:hover {
	border-radius: 50%;
}

/*---------------
Footer Container
-----------------*/
#footerContainer {	
	margin-top: 3%;
	padding: 0;
	width: inherit;		
	text-align: center;
	background-color: black;	
	color: white;
}
#footerContainer h1 {
	margin-top: 3%;
}
#footerNav {
	list-style: none;	
	margin-bottom: 3%;
}
#footerNav li {
	display: inline-block;
	padding-right: 2%;	
}
#footerNav li a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}

/*--------------
Contact Container
------------------*/

#contactContainer {
	width: 100%;
	height: 640px;			
	margin: 0;
	padding: 0;
	background-image: url('images/contactphoto.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
	color: white;
}
#contactShade {
	width: 100%;
	height: 640px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
#contactContainer h1 {	
	font-size: 2em;	
}

/*-----------------------
Contact Form
-------------------------*/
form {
	font-size: 20px;
	color: black;
}

/*--------------
Small Handheld Styles
------------------*/

@media screen and (max-width: 530px) {
	#logoName h1 {
		margin-left: 10%;
		font-size: 1.8em;
		margin-top: 4%;
	}		
	#navigationContainer ul {
		margin-top: 15%;
	}
	#aboutContainer {
		padding-top: 25px;
	}
	#aboutContainer h2 {
		font-size: 2.5em;
	}
	#carouselContainer {
		height: 515px;
	}		
	.fill {
		height: 515px;
	}
	#weddingCarousel, #familyCarousel, #portraitCarousel {
		height: 515px;
	}
	
	#socialContainer img {
		height: 40px;
		width: 40px;
	}
	#footerContainer {
		margin-top: 5%;
	}
	#footerContainer h1 {
		font-size: 1.8em;
		margin-top: 7%;
	}
	#footerContainer li {
		margin-left: 0;
		margin-bottom: 10%;
	}
}
/*--------------
Large Handheld Styles
------------------*/

@media screen and (min-width: 531px) and (max-width: 640px) {

	#logoName h1 {
		font-size: 2em;		
		margin-top: 3%;
	}
	.menuButton {
		margin-top: 20px;
	}
	#navigationContainer ul {
		margin-top: 15%;
	}
	.menuClose {
		top: 10px;
		left: 28px;
	}
	#titleContainer {
		height: 550px;
	}	
	#aboutCamera {
		margin: 5% 0 0 0;
		padding: 0;
	}
	#aboutCamera img {
		height: 225px;
		width: 275px;
	}
	#aboutInfo h2 {
		margin-top: 3%;	
		font-size: 2.3em;
	}
	#aboutInfo p {
		margin-top: 3%;
	}		
	#aboutButton {
		margin-top: 3%;		
	}	
	#carouselContainer {
		height: 515px;
	}	
	.fill {
		height: 515px;
	}
	#weddingCarousel, #familyCarousel, #portraitCarousel {
		height: 515px;
	}
	#socialContainer {
		margin-top: 3%;
		margin-bottom: 5%;
	}
	#footerContainer h1 {
		font-size: 30px;
		margin-top: 5%;
	}
	#footerContainer li {
		font-size: 12px;
		margin-bottom: 3%;
	}
	#contactContainer {
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;		
		background-image: url('images/contactphoto.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;	
		color: black;
	}
	#contactShade {
		width: 100%;		
		background-color: rgba(255,255,255,0.8);
	}
	#contactContainer h1 {
		margin-top: 3%;
		font-size: 45px;
	}
	#contactContainer h2 {
		margin-top: 5%;
	}
	#contactContainer h3 {
		margin-top: 5%;
		font-size: 1.85em;
		line-height: 40px;
	}
	#contactContainer a {
		text-decoration: none;
		color: black;
	}	
	#contactShade img {
		height: 45px;
		width: 45px;
		margin-top: 5%;
	}
}

/*----------
Tablet Styles
--------------*/

@media screen and (min-width: 641px) and (max-width: 992px) {
	
	
	#carouselContainer {
		height: 525px;
	}
	.fill {
		height: 525px;
	}
	#weddingCarousel, #familyCarousel, #portraitCarousel {
		height: 525px;
	}
	
}
